# Dependencies
node_modules/
.pnpm-store/

# Production Build Outputs
dist/
build/

# Local Environment Secret Overrides
.env.local
.env.*.local

# Logs and System Junk
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
